<% unless comment.parent_id || !comment.persisted? %>
  <div class="card">
  <div id="<%= dom_id comment %>">
    
  <% if comment.replies.any? %>
    <% comment.replies.each do |reply| %> 
      <div id="reply-form-<%= comment.id %>"></div>
      <%= render partial: 'comments/reply', locals: { reply: reply } %>
    <% end %>
  <% end %>
    <p>
      <strong>Body:</strong>
      <%= comment.body %>
    </p>

    <p>
      <strong>Post:</strong>
      <%= comment.post_id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= comment.user_id %>
    </p>

    <p>
      <strong>Parent:</strong>
      <%= comment.parent_id %>
    </p>

    <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-primary' %>
    <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

  </div>
  </div>
<% end %>
