<h1>Home</h1>
<div class="container mt-5">
  <h1>Welcome To Plantasia</h1>
  <p>Manage your plants and harvests more accurately with crop calendar, and connect with a vibrant supportive community.</p>
  <p>Lets get going!</p>
 
  <h2>About</h2>
  <%= link_to 'About', about_path %>

  <h3>National Crop Calendar</h3>
  <p><a href="/events">Crop Calendar</a></p>

  <h3>Forum</h3>
  <p>Discuss Topics and Share Ideas</p>
  <p> You need to Sign_up or Log_in to be able to access The Forum</p>
  <%= link_to 'View Posts', posts_path %>
  <% if current_user %>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
    <%= button_to "Delete Account", delete_account_user_path, method: :delete, data: { confirm: "Are you sure you want to delete your account? This action cannot be undone." } %>
  <% else %>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>

  <h2>Recent Posts</h2>
  <ul>
    <% @recent_posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>

  <h2>Contact</h2>
  <%= link_to "Contact", contact_path %>

</div>
